.nav-link-active {
  color: #fd7da0;
  border-radius: 0;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-link-inactive {
  color: inherit;
  transition: color 0.3s;
}

.nav-link-inactive:hover {
  background-color: inherit;
  color: #fd7da0;
  transition: color 0.3s;
}
